# 服务端口
server:
  port: 8333

spring:
  application:
    name: service-gateway
  cloud:
    nacos:
      discovery:
        server-addr: 127.0.0.1:8848
    gateway:
      discovery:
        locator:
          enabled: true
      routes:
        - id: service-vod
          uri: lb://service-vod
          predicates:
            - Path=/*/vod/**